# Node
node_modules/
npm-debug.log


# Env (🔥 IMPORTANT)
.env


# Logs
logs/
*.log


# Local storage (generated data)
local-storage/
storage/
executions/
outputs/


# Runtime temp files
runtime/jobs/


# OS files
.DS_Store


# Zip test files
*.zip
